{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'IndexStyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <title>Scale Up</title>
    <link rel="icon" href="static/Logo.png" type="image/icon type" />
  </head>

  <body>
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="#">ScaleUP<i class="far fa-arrow-alt-circle-up"></i></a>
        </div>
        <ul class="menu">
          <li class="first current_page_item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li><a href="#about">About</a></li>
          <li><a href="{% url 'Login' %}">Login</a></li>
          <li><a href="{% url 'StartupRegister' %}">Startup Signup</a></li>
          <li><a href="{% url 'MentorRegister' %}">Mentor Signup</a></li>

          <div class="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
        </ul>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </nav>
    <script>
      window.addEventListener("mouseover", initLandbot, { once: true });
      window.addEventListener("touchstart", initLandbot, { once: true });
      
      var myLandbot;
      function initLandbot() {
        if (!myLandbot) {
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          s.addEventListener("load", function () {
            var myLandbot = new Landbot.Livechat({
              configUrl:
                "https://landbot.site/v3/H-1299846-BROHANE7V98PUBV6/index.json",
            });
          });
          s.src = "https://cdn.landbot.io/landbot-3/landbot-3.0.0.js";
          var x = document.getElementsByTagName("script")[0];
          x.parentNode.insertBefore(s, x);
        }
      }
    </script>

    <section class="home" id="home">
      <div class="home-content">
        <div class="text">
          <!--<div class="text-one">Hello,</div>-->
          <div class="text-two">Online Mentorship Platform for Start-Ups</div>
          <div class="text-three">
            Creating start-ups and mentors community.
          </div>
          <div class="text-four">
            Helping start-ups to reach to mentors in required domain.
          </div>
        </div>
        <div class="button">
          <a href="{% url 'Login' %}"><button id="login">Login</button></a>
          <a href="{% url 'StartupRegister' %}"
            ><button id="signup">Sign-Up</button></a
          >
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <div class="content">
        <div class="title"><span>About</span></div>
        <div class="about-details">
          <div class="left">
            <img src="static/homedemoimg.png" alt="Portfolio" />
          </div>
          <div class="right">
            <div class="topic">ScaleUP</div>
            <p>
              Mentoring is a conventional method of transferring knowledge and
              ideas from a confirmed professional in an society to an
              inexperienced member in the sector. Business sector has found
              mentoring as quite effective tool since long back and with the
              advent of new technologies, comes an idea of online mentoring,
              which is also referred to as e-mentoring. Instead of face-to-face
              meetings, Online Mentoring System (OMS) uses asynchronous,
              electronic communications to establish and support the
              relationship between mentor and the start up using virtual mode.
              E-Mentoring uses computerized medium to transfer knowledge and
              skills from teacher to student. It basically focuses on student
              and faculty relationship. Online Mentoring System is a Client
              Server model, which acts as an Interface between Teacher and
              Student. OMS strives to reduce the work load of start up person in
              entering their details and at the same time enable the Mentors to
              assess their startup more efficiently. E-Mentoring is
              fundamentally developed to improve the performance of business by
              assisting mentors to understand the problems of startup person
              more effectively and easily. In order to achieve this, a rating
              system is also included using which mentors can easily evaluate
              and sort the performance of the startup and concentrate on those
              who need there guidance. Matching algorithm is used in this system
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="news-letter" id="News-letter">
      <div class="news">
        <div class="container">
          <h1 class="news-heading">
            Subscribe To Get The Latest <br />
            News About Us
          </h1>
          <p class="des how-de">
            Get the Latest news about Startups and Scale-Up <br />
            Type you Email below to get daliy update about us
          </p>

          <form action="">
            <input
              type="email"
              maxlength="50"
              required
              placeholder="Enter your email address"
            />
            <button class="bt">Subscribe</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
