{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ViewRatingsStyle.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <title>View Ratings</title>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo"><a href="#">ScaleUP<i class="far fa-arrow-alt-circle-up"></i></a></div>
            <ul class="menu">
                <li class="first current_page_item"><a href="{% url 'ViewStartupGroup' %}">View Groups</a></li>
                <li><a href="{% url 'PostQueries' %}">Post Queries</a></li>
                <li><a href="{% url 'ViewSuggestions' %}">View Suggestions</a></li>
                <li><a href="{% url 'ViewRatings' %}">View Mentor Ratings</a></li>
                <li><a href="{% url 'Logout' %}">Logout</a></li>

                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </nav>
    <br />
    <h4><b>&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View
            Groups Screen</b></h4>

    <table border="1" align="center" width="100%">

        <tr>
            <th>
                <font size="" color="black">Mentor Name
            </th>
            <th>
                <font size="" color="black">Group Name
            </th>
            <th>
                <font size="" color="black">Rating
            </th>
        </tr>

        {{data|safe}}
        </p>
    </table>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />



</body>

</html>